div[mvclite-dialog] {
  position: fixed;
  inset: 0;

  background: rgba(0 0 0 / .7);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;

  > .dialog-window {
    border: none;
    border-radius: 10px;

    padding: 10px 50px;

    background: white;

    width: 75%;

    box-shadow: 0 0 10px rgba(0 0 0 / .5);

    > h1 {
      font-weight: 900;
    }

    hr {
      border: solid 1px #E6E6E6;
    }

    p {
      &.message {
        font-size: 15px;

        padding: 5px;

        border: 1px solid grey;
        border-radius: 5px;

        background: #E6E6E6;
      }

      > span.mono {
        font-size: 20px;
      }
    }

    .bold {
      font-weight: 900;
    }

    .mono {
      font-family: monospace;
    }
  }
}